.copyright {
    justify-content: center;
    align-items: center;
    background-color: var(--color-white);
    border-top: 1px solid #f1f1f1;

    .page-container--inner {
        padding: 24px 38px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;


        span {
            color: var(--color-grey);;
            font-size: 17px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

    }
}